.icon-fab{
    font-size: 300%;
}

.icon-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
} 

.alura-books{
    color: gray;
    text-decoration: none;
}

.alura-books:hover{
    text-decoration: underline;
}

.mini-cidade{
    color: gray;
    text-decoration: none;
}

.mini-cidade:hover{
    text-decoration: underline;
}

.culturama{
    color: gray;
    text-decoration: none;
}

.culturama:hover{
    text-decoration: underline;
}

.alura-cast{
    color: gray;
    text-decoration: none;
}

.alura-cast:hover{
    text-decoration: underline;
}