.icon-fab{
    font-size: 300%;
}

.icon-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
} 

.barbearia-alura{
    color: gray;
    text-decoration: none;
}

.barbearia-alura:hover{
    text-decoration: underline;
}

.mini-cidade{
    color: gray;
    text-decoration: none;
}

.mini-cidade:hover{
    text-decoration: underline;
}